#aptlearn-login-as-user-banner {
    position: fixed;
    bottom: 0;
    left: 0;
    margin-left: 40%;
    padding: 30px; 
    background-color: #7bdcb5;
    z-index: 9999;
    border-radius: 14px;
   box-shadow: 0 2px 15px 1px rgb(64 60 67 / 16%);
}

#aptlearn-login-as-user-banner a.button {
  background-color: #696cff;
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 30px;
}

#aptlearn-login-as-user-banner a.button:hover {
  background-color: #5c5cbd;
}
